.nav-toggle-container {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background-color: #CCC;
}

body {
	padding-top: 15px;
}

nav {
	transition-property: max-height;
	transition-duration: .25s;
	transition-timing-function: ease;
	max-height: 1000px;
	overflow: hidden;
}

nav.closed {
	max-height: 0;
	z-index: 100;
}