.nav-toggle-container {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background-color: #CCC;
}

body {
	padding-top: 15px;
}

nav {
	transition-property: max-height, margin-bottom;
	-webkit-transition-property: max-height, margin-bottom;
	transition-duration: .25s;
	-webkit-transition-duration: .25s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;

	max-height: 150px;/* Change this if nav height can ever exceed this value */
	overflow: hidden;
	margin-bottom: 15px;
}

nav.closed {
	max-height: 0;
	z-index: 100;
	margin-bottom: 0;
}

header {
	margin-bottom: 15px;
}

.list-group-item {
	overflow: hidden;
}

.list-group-item-delete {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

.list-group-item-delete>button {
	border-radius: 0;
	height: 100%;
}

.main.ng-enter {
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 0;
}

.main.ng-enter-active {
	opacity: 1;
}

/*.main.ng-leave {
	opacity: 0;
}

.main.ng-leave-active {
	opacity: 1;
}*/
