<div class="container">
	<div class="row hidden-xs">
		<div class="col-xs-12 app-nav-destop">
			<nav role="navigation" class="large-nav" ng-transclude></nav>
		</div>
	</div>
	<div class="row visible-xs">
		<div class="col-xs-12 app-nav-mobile closed">
			<nav role="navigation" class="small-nav" ng-transclude></nav>
		</div>
		<hr>
	</div>
	<div class="row visible-xs nav-toggle-row">
		<div class="col-xs-12">
			<button class="btn btn-default pull-right nav-toggle">
				<span class="ion-navicon-round"></span>
			</button>
		</div>
	</div>
</div>
