<div ng-controller="assignmentsCtrl" class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<ng-pluralize count="assignments.length"
					when="
						{
							'0': 'No Assignments',
							'one': '1 Assignment',
							'other': '{} Assignments'
						}">
				</ng-pluralize>
				<div loading="Assignment.fetchAll"></div>
				<button class="btn btn-default pull-right" ng-click="handleNewButtonClick()">
					<span class="ion-plus-round"></span>
				</button>
				<div loading="Assignment.create" class="pull-right"></div>
			</h3>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="list-group">
				<a ng-repeat="item in assignments"
							class="list-group-item"
							ng-click="handleAssignmentClick(item)">
					{{item.title || 'Untitled'}}
					<span class="text-muted">{{item.course.name}}</span>
					<div class="list-group-item-delete">
						<div loading="Assignment.delete@{{item._id}}"></div>
						<button class="btn btn-danger "
								ng-click="handleAssignmentDeleteClick(item, $event)">
							Delete

						</button>
					</div>
				</a>

			</div>
		</div>
	</div>
</div>